set io.file.buffer.size=%%HDFS_BUF_SIZE%%;
set hive.io.rcfile.record.buffer.size=%%RGSIZE%%;
set hive.enforce.bucketing = true;

SET hive.exec.compress.output=%%COMPRESS_ON%%; 
SET io.seqfile.compression.type=%%COMPRESS_TYPE%%;
set hive.exec.reducers.max=%%MAX_REDUCER%%;
